@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

.signature {
  font-family: 'Fredericka the Great', cursive !important;
}

.navbar-brand {
  font-size: 2em !important;
}




.link {
  color: var(--main)
}

.link:hover {
  color: var(--accent)
}

.emph {
  color: var(--accent) !important;
  font-weight: bold;
}

.progress-bar {
  background: var(--accent);
}

.single-progress-txt h3 {
  color: var(--accent)
}


.work-list li {
  margin-top:10px;
  list-style:circle;
}


.portfolio-entry {
  margin-top:15px;
  background: var(--main);
  opacity: .7;
  min-height: 140px;
  border-radius: 4px;
  padding:15px;
  box-shadow: 0 4px 8px 0 black;
}

.portfolio-entry:hover {
    box-shadow: 0 8px 16px 0 black;
}


.portfolio-entry h3 {
  font-size: 24px;
  color: white;
  font-style: italic;
}

.portfolio-entry p {
  font-size: 20px;
  color: white;
  font-style: italic;
}

.pub a {
  font-size:18px;
}

.pub a:hover {
  color: var(--main);
}

.pub {
  margin-bottom:10px;
}

.small-star {
  height: 80px;
  -webkit-transform:rotate(18deg);
-moz-transform: rotate(18deg);
-ms-transform: rotate(18deg);
-o-transform: rotate(18deg);
transform: rotate(18deg);
}

.med-star {
  height: 140px;
  -webkit-transform:rotate(24deg);
  -moz-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  -o-transform: rotate(24deg);
  transform: rotate(24deg);
}

.big-star {
  height: 200px;
}

.star {
  filter: brightness(0) invert(1);
}

.tag {
  border: 1px solid var(--main);
  margin-top: 5px;
  border-radius: 4px;
  text-align: center;
  padding: 5px;
  background: var(--main);
  color: white;
}
